* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: Arial, "微軟正黑體", sans-serif;
}

:root {
    --primary-color: #4aa447;
}

body {
    width: 100%;
    height: 100%;
}

header {
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 7vh;
    background: rgba(0, 0, 0, .7);
    backdrop-filter: saturate(100%) blur(16px);
    transition: background-color .8;
}

input[type=text],
input[type=password] {
    background-image: none;
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
}

button:focus {
    outline: none;
}

nav {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 100% !important;
    height: 100% !important;
    padding: 0 5vw !important;
}

.active {
    color: var(--primary-color) !important;
}

nav img {
    height: 80%;
}

nav .nav-item {
    display: flex;
    justify-content: space-around;
}

nav .nav-item a {
    width: 8vw;
    margin: 5px 10px;
    padding: 10px;
    border-radius: 15px;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    transition: .5s;
}

nav .nav-item a:hover {
    background-color: white;
    color: var(--primary-color);
}

.page-head {
    height: 32vh;
    background-image: url(../Floriade/PageHeadBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.page-head h1 {
    position: relative;
    top: 50%;
    color: white;
}

.page-area {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 58vh;
    padding: 10vh 0;
}

.container {
    max-width: 1296px !important;
    margin: 0 auto !important;
}

.title {
    font-weight: bold;
    font-size: 3rem;
}

.title.title-highlight {
    padding-left: 10px;
    border-left: 10px solid var(--primary-color);
}

.button {
    border: 2px solid transparent;
    border-radius: 15px;
    transition: .5s ease;
}

.button-green {
    background: var(--primary-color);
    border: 2px solid white;
    color: white;
}

.button-outline {
    background: transparent;
    color: black;
}

.button-green:hover {
    background: white;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.button-outline:hover {
    background-color: var(--primary-color);
    border: 2px solid white;
    color: white;
}

/* Information */
.information-area {
    display: flex;
    flex-direction: column;
    min-height: 84vh;
    padding-top: 5vh;
}

.informations {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 2vh;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    height: 40vh;
    margin: 20px;
    padding: 25px;
    background: var(--primary-color);
    border-radius: 8px;
    box-shadow: 1px 1px 7px 0 #3338;
    transition: 1.1s;
}

.information:hover {
    transform: scale(1.1);
}

.information .date,
.information button {
    font-weight: bold;
}

.information .title {
    display: flex;
    align-items: center;
    height: 10%;
    border-color: white;
    color: white;
    font-size: 2rem !important;
    opacity: 85%;
}

.information .content {
    height: 65%;
    line-height: 1.5rem;
    color: white;
}

.information .more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
}

.information .date {
    width: 50%;
    margin-bottom: 0 !important;
    font-size: 1.5rem;
    color: white;
}

.information button {
    width: 40%;
    height: 85%;
    font-size: 1.3rem;
    transition: .5s ease;
}

/* News */
.news {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 45%;
    height: 40vh;
}

.news .images {
    overflow: hidden;
    border-radius: 8px;
}

.news img {
    width: 100%;
    object-fit: cover;
    transition: .5s;
}

.news .caption {
    display: flex;
    justify-content: space-between;
    min-height: 8vh;
    margin-top: 2vh;
}

.news .text {
    width: 70%;
}

.news .title {
    font-size: 1.5rem;
    font-weight: bold;
}

.news button {
    align-self: flex-start;
    width: 20%;
    height: 50%;
    font-size: 1.3rem;
    transition: .5s ease;
}

/* Discover */
.card {
    height: 60vh;
    width: 30%;
    color: white;
    border: none;
}

.card img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.card-body {
    background-color: var(--primary-color);
    border-radius: 0 0 8px 8px;
}

/* Cables */
.cables {
    width: 100%;
    padding-top: 5vh;
}

.cable {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vh;
}

.cable img {
    width: 50%;
    height: 40vh;
    object-fit: cover;
    border-radius: 15px;
}

.cable .desc {
    width: 50%;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.cable:nth-child(2n) {
    flex-direction: row-reverse;
}

/* Ticket */
.ticket-area {
    position: relative;
    height: 90vh;
    background-image: url(../Floriade/TicketBg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ticket-box {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
}

.ticket-box .ticket-form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 55vh;
    padding: 2rem;
    background: var(--primary-color);
    border-radius: 15px;
}

.ticket-form .title {
    display: flex;
    align-items: center;
    height: 10%;
    border-color: white;
    color: white;
}

.input-area {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
    color: white;
}

.input-area label {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.input-area input[type=text],
.input-area input[type=password] {
    height: 2rem;
    padding: 1rem;
    font-size: 1rem;
    background-color: white;
}

.input-area input[type=submit] {
    height: 3rem;
    margin-top: 2rem;
}

/* Footer */
footer {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    height: 10vh !important;
    background: #333 !important;
    line-height: 1.7rem !important;
    color: white !important;
}

footer .socials img {
    height: 32px !important;
    cursor: pointer;
}